@{
    ViewBag.Title = "Reportes";
}
<div class="row-fluid">
    <div class="span4 well">
        <a href="@Url.Action("Routes")">Reporte de rutas por dispositivo</a>
        <p>Muestra el desplazamiento de cada dispositivo dentro del local</p>
    </div>
</div>