@{
    ViewBag.Title = "Reportes";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Reportes de la aplicaci&oacute;n</h4>
                <hr/>
                <p>Aqui se muestran los reportes de la aplicaci&oacute;n.<br/></p>
                <p>A tomar en cuenta:</p>
                <p>
                    <ul>
                        <li>Al eliminar un dispositivo los datos recibidos no se pierden.</li>
                        <li>Cambiar de posici&oacute;n un dispositivo en el mapa no cambia los datos ya recibidos.</li>
                        <li>La informaci&oacute;n se actualiza entre cada cinco o diez minutos dependiendo del volumen de datos recibidos.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="@Url.Action("Routes")">Reporte de rutas por dispositivo</a>
                    </div>
                    <div class="panel-body">
                        <p>Muestra el desplazamiento de cada dispositivo dentro del local</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="@Url.Action("Heat")">Reporte de intensidad de tráfico</a>
                    </div>
                    <div class="panel-body">
                        <p>Muestra un mapa de calor del local dentro de un rango de fecha específico</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="@Url.Action("Charts")">Gráficas de datos</a>
                    </div>
                    <div class="panel-body">
                        <p>Muestra gráficas con los datos para una lectura mas fácil</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>