@{
    ViewBag.Title = "Reportes";
}
<div class="row-fluid">
    <div class="span4 well">
        <a href="">Reporte de rutas por dispositivo</a>
        <p>Descripcion del contenido del reporte</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span4 well">
        <a href="">asdasds</a>
        <p>Descripcion del contenido del reporte</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span4 well">
        <a href="">asdasds</a>
        <p>Descripcion del contenido del reporte</p>
    </div>
</div>