@{
    ViewBag.Title = "Reporte de Rutas";
}
<div class="row-fluid">
    <form class="form-inline">
        <fieldset>
            <table>
                <tr>
                    <td><select id="MAC"><option value="">--Seleccionar Dispositivo--</option></select></td>
                    <td>Desde <input type="text" id="startDate" placeholder="dd/mm/yyyy" class="input-small"/></td>
                    <td><input type="time" id="startTime" class="input-small"/></td>
                    <td>Hasta <input type="text" id="endDate" placeholder="dd/mm/yyyy" class="input-small"/></td>
                    <td><input type="time" id="endTime" class="input-small"/></td>
                    <td><button type="button" value="Filtrar" id="btnFilter" class="btn btn-primary">Filtrar</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span id="startDateError" class="error"></span></td>
                    <td><span id="endDateError" class="error"></span></td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<div class="row-fluid">
    <div id="map_canvas" class="span12"></div>
</div>