@{
    ViewBag.Title = "Reporte de Rutas";
}
<div class="row" style="margin-bottom:5px">
    <form class="form-inline">
        <div class="form-group col-sm-3" >
            <label for="startDate">Desde</label>
            <div class='input-group date datetimepickercontroller' id='startDate'>
                <input type='text' class="form-control"  />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <span id="startDateError" class="label label-danger"></span>
        </div>
        <div class="form-group col-sm-3" >
            <label for="endDate">Hasta</label>
            <div class='input-group date datetimepickercontroller' id='endDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <span id="endDateError" class="label label-danger"></span>
        </div>
        <div class="form-group col-sm-3" >
            <button type="button" value="Filtrar" id="btnFilter" class="btn btn-lg btn-primary" style="margin-top:11px">Filtrar</button>
        </div>
        <div class="form-group col-sm-3" >
            <label for="refreshingTime">Tiempo de actualización(segs)</label>
            <input type="text" id="refreshingTime" name="refreshingTime" class="form-control" value="10"/>
        </div>
    </form>
</div>
<div class="row">
    <div id="map_canvas" class="col-sm-12"></div>
</div>