@using ACAPackagesListener.API.Models.Entities
@using NHibernate.Linq
@{
    ViewBag.Title = "AutoConsumerAnalisys - Inicio";
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Instrucciones</h3><hr/>
                <h2>Configurar Dispositivos</h2>
                <p>*<b>Solo los usuarios administradores pueden ver la opci&oacute;n en la parte superior de la pantalla. Si requiere una cuenta de administrador contacte al departamento de soporte t&eacute;cnico</b><br />
                    Al ir a la opción se presentará un mapa del local visto desde arriba.<br/>
                    Dentro de esta opción se pueden hacer las siguientes acciones:
                </p>
                <ul>
                    <li><b>Agregar un dispositivo:</b> Para agregar un dispositivo solo hay que hacer click en cualquier parte del mapa. Para descartar este nuevo dispositivo solo hay que hacer click en cualquier parte del mapa antes de salvarlo</li>
                    <li>Las direcciones IP de los dispositivos deben ser unicas</li>
                    <li><b>Arrastrar dispositivos: </b> Una vez agregado, un dispositivo puede ser movido de posición en el mapa haciendo click sobre el y arrastrandolo a la posici&oacute;n deseada</li>
                    <li><b>Editar dispositivos:</b> Para editar dispositivos solo tiene que dar un click sobre el, se mostrar&aacute; una burbuja para editar las demás propiedades del dispositivo</li>
                    <li><b>Eliminar dispositivos:</b> Para eliminar un dispositivo hay que hacer doble click sobre uno de los marcadores y aceptar el dialogo de confirmación. Eliminar o cambiar de posicion un dispositivo no modifica los valores reflejados en los reportes</li>
                    <li><b>Eliminar los datos de la aplicaci&oacute;n:</b> Esta operacion elimina todos los paquetes recibidos por la aplicaci&oacute;n. Solo debe hacer click en el boton 'Limpiar datos de la aplicaci&oacute;n' y confirmar el dialogo</li>
            
                </ul>

                <h3>Reportes</h3><hr/>
                <p>La aplicaci&oacute;n cuenta con 3 reportes</p>
                <ul>
                    <li><b>Reporte de rutas por dispositivo:</b> Muestra las rutas de los dispositivos en el mapa</li>
                    <li><b>Reporte de intensidad de tráfico:</b> Muestra un mapa de calor para ver donde sucede la mayor actividad</li>
                    <li><b>Gráficas de datos</b> Graficas que muestran la relacion entre la cantidad de personas por sensor</li>
                </ul>
            </div>
        </div>
    </div>
</div>