@{
    ViewBag.Title = "Home Index";
}
<div class="row-fluid">
    <div class="span12">
        <h4>Instrucciones</h4>
        <h2>Configurar Dispositivos</h2>
        <p>
            Primero es necesario una cuenta de administrador para poder ver la opcion en la parte superior de la pantalla.<br />
            Al ir a la opción se presentará un mapa del local visto desde arriba.<br/>
            Dentro de esta opción se pueden  hacer las siguientes acciones:
        </p>
        <ul>
            <li>Para agregar un dispositivo solo hay que hacer click en cualquier parte del mapa</li>
            <li>Para descartar este nuevo dispositivo solo hay que hacer click en cualquier parte del mapa antes de salvarlo</li>
            <li>Las direcciones IP de los dispositivos deben ser unicas</li>
            <li>Una vez agregado, un dispositivo puede ser movido de posición en el mapa </li>
            <li>Da un click para editar las demás propiedades del dispositivo</li>
            <li>Para eliminar un dispositivo hay que hacer doble click sobre uno de los marcadores y aceptar el dialogo de confirmación</li>
            <li>Eliminar o cambiar de posicion un dispositivo no modifica los valores reflejados en los reportes</li>
        </ul>
    </div>
</div>