@using ACAPackagesListener.API.Models.Entities
@using NHibernate.Linq
@{
    ViewBag.Title = "AutoConsumerAnalisys - Inicio";
}
<div class="row">
    <div class="col-sm-offset-3 col-sm-6" style="margin-top:50px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                @*                <h2>Bienvenido a la aplicación Auto Consumer Analisys</h2>*@
                <h3>¿Qué deseas hacer?</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Report")"><i class="glyphicon glyphicon-book"></i> Ver reportes</a></li>
                    
                    @if (Session["UserData"] != null && ((User) Session["UserData"]).IsAdmin)
                    {
                        <li><a href="@Url.Action("Index", "Device")"><i class="glyphicon glyphicon-phone"></i> Configurar dispositivos</a></li>
                        <li><a href="@Url.Action("Index", "Map")"><i class="glyphicon glyphicon-globe"></i> Configurar Mapas</a></li>
                    }
                    <li><a href="@Url.Action("Index","Help")"><i class="glyphicon glyphicon-question-sign"></i> Leer la ayuda del sistema</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>