<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="aca"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=ec2-23-20-227-175.compute-1.amazonaws.com;Initial Catalog=autoconsumeranalisys;User Id=sa;Password=Aca123" />
  </connectionStrings>
</configuration>