@{
    ViewBag.Title = "Configuración de Dispositivos";
}
<div class="row">
    <ul class="list-inline pull-right">
        <li><button class="btn btn-danger" id="btnClearData"><i class="glyphicon glyphicon-remove"></i> Borrar todo</button></li>
        <li><a class="btn btn-info" id="btnImportMap" href="@Url.Action("Index","Map")"><i class="glyphicon glyphicon-globe"></i> Opciones de mapas</a></li>
    </ul>
</div>

<div class="row">
    <ul class="nav nav-pills nav-tabs">
    @for(var i=0;i<ViewBag.FloorsCount;++i){
        <li id="piso-@(i+1)" class="floor-indicator @(i==0?"active":"")" ><a href="#" onclick="switchSpaces(@(i+1));" style="border-radius:0; -moz-border-radius:0;">Piso @(i+1)</a></li>
    }
    </ul>
</div>
<div class="row">
    <div id="map_canvas"></div>
</div>


<script>
    document.getElementById("btnClearData").onclick = function() {
        if (confirm("Eliminar los datos de la aplicación es irreversible. ¿Deseas continuar?")) {
            $.getJSON(base_url + "Packages/ClearData", function() {
                alert("Los datos han sido eliminados satisfactoriamente.");
            });
        }
    };
    var switchSpaces = function (floor) {
        changeFloor(floor);
        $(".floor-indicator").removeClass("active");
        $("#piso-" + floor).addClass("active");
        return false;
    }
</script>