@{
    ViewBag.Title = "Configuración de Dispositivos";
}
<ul class="list-inline">
    <li><button class="btn btn-danger" id="btnClearData"><i class="glyphicon glyphicon-remove"></i> Limpiar datos de la aplicaci&oacute;n</button></li>
    <li><button class="btn btn-info" id="btnImportMap"><i class="glyphicon glyphicon-import"></i> Importar Mapa</button></li>
</ul>


<div id="map_canvas"></div>


<script>
    document.getElementById("btnClearData").onclick = function () {
        if (confirm("Eliminar los datos de la aplicación es irreversible. ¿Deseas continuar?")) {
            $.getJSON(base_url + "Packages/ClearData", function() {
                alert("Los datos han sido eliminados satisfactoriamente.");
            });
        }
    }
</script>