@{
    ViewBag.Title = "Configuración de Dispositivos";
}
<button class="btn btn-danger" id="btnClearData"><i class="icon-remove"></i> Limpiar datos de la aplicaci&oacute;n</button>
<div id="map_canvas"></div>


<script>
    document.getElementById("btnClearData").onclick = function () {
        if (confirm("Eliminar los datos de la aplicación es irreversible. ¿Deseas continuar?")) {
            $.getJSON(base_url + "Packages/ClearData", function() {
                alert("hecho");
            });
        }
    }
</script>