body {
	position:relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

html { height: 100% }
#content {
    max-width: 1280px;
    max-height: 1024px;
	padding-top: 60px;
	padding-bottom: 40px;
    margin: auto;  
}
#topsection {
    height: 100%;
}
.container{
    max-width: 1200px !important;
}
.sidebar-nav {
	padding: 9px 0;
}
.editor-label {
    float: left;
    width: 75px;
}
#map_canvas 
{
    border: 1px solid;
    height: 100%;
    max-width: 1025px;
	min-height: 728px;
}

.floatbox 
{
    display: block !important;
    float: left !important;
    position: relative;
    border: 1px solid #bbb;
    border-radius: 4px;
    webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#sidebar {
    height: 100%;
    float: left;
}

.footer {
    margin-bottom: 0;
    bottom: 0;
    background-color: #bbbbbb;
    width: 100%;
    height:50px;
}
@media (min-width: 768px){
    .container {
        width: 95% !important;
    }
}
@media (min-width: 1280px){
    .container {
        width: 1280px !important;
    }
    #map_canvas {
        margin-left: 85px;
    }
}
